 .u-section-1 {
  background-image: url("/images/20210701_115414.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 45.37% 100%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }
} .u-section-2 {
  background-image: url("/images/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 1290px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-family: "PT Sans Caption";
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: none;
  margin: 0 0 0 6px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 13px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: -59px 0 0 77px;
}

.u-section-2 .u-line-1 {
  margin-top: 5px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 23px;
}

.u-section-2 .u-video-1 {
  height: 205px;
  margin-top: 5px;
  margin-bottom: 0;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-layout-wrap-2 {
  min-width: 68px;
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 416px;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-container-layout-3 {
  color: rgb(85, 172, 238) !important;
  padding: 0;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 108px;
  width: 510px;
  margin: 30px 30px 0;
}

.u-section-2 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-3 {
  margin: 6px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 2px 30px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 416px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 30px;
}

.u-section-2 .u-group-2 {
  height: auto;
  width: 510px;
  min-height: 132px;
  margin: 30px 30px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 0 auto 0 15px;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 107px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-4 {
  margin-top: -581px;
  margin-bottom: 12px;
}

.u-section-2 .u-image-1 {
  min-height: 581px;
  background-image: url("/images/volkanggg_html_ff8993902a7f4040.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 30px 30px 79px;
}

.u-section-2 .u-image-2 {
  min-height: 581px;
  background-image: url("/images/20210924_1851242.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px 22px;
}

.u-section-2 .u-image-3 {
  min-height: 581px;
  background-image: url("/images/ren.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 52px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -98px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: -52px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-2 .u-video-1 {
    height: 223px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 343px;
    height: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    height: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 343px;
  }

  .u-section-2 .u-group-2 {
    width: 470px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    min-height: 320px;
  }

  .u-section-2 .u-image-2 {
    min-height: 320px;
  }

  .u-section-2 .u-image-3 {
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 77px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -123px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-2 .u-group-1 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    min-height: 245px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 245px;
  }

  .u-section-2 .u-image-3 {
    min-height: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2780px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 52px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -98px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 551px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 551px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 551px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1788px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 205px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -251px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 358px;
  }

  .u-section-2 .u-image-1 {
    min-height: 347px;
  }

  .u-section-2 .u-image-2 {
    min-height: 347px;
  }

  .u-section-2 .u-image-3 {
    min-height: 347px;
  }
}.u-block-d55c-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-block-d55c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d55c-3 {
  position: absolute;
  left: 0;
}

.u-block-d55c-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: none;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-1 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-1 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-1 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 20px 0 0 358px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-1 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-1 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-2 {
  background-image: none;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-2 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-2 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-2 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 20px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-2 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-2 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-2 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-3 {
  background-image: none;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-3 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-3 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-3 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 20px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-3 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-3 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-3 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-3 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-3 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-4 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-4 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-4 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-4 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 20px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-4 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-4 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-4 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-4 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-4 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-4 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-5 {
  background-image: none;
}

.u-section-3-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-5 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-5 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-5 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 20px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-5 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-5 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-5 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-5 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-5 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-5 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-5 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-6 {
  background-image: none;
}

.u-section-3-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-6 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-6 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-6 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-6 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-6 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-6 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-6 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-6 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-6 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-6 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-6 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-6 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-7 {
  background-image: none;
}

.u-section-3-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-7 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-7 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-7 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 0 358px;
}

.u-section-3-7 .u-image-2 {
  width: 66px;
  height: 58px;
  margin: 21px auto 0 359px;
}

@media (max-width: 1199px) {
  .u-section-3-7 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-7 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-7 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-7 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-7 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-7 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-7 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-7 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-7 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }

  .u-section-3-7 .u-image-2 {
    margin-left: 274px;
  }
}

 .u-section-3-8 {
  background-image: none;
}

.u-section-3-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-8 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-8 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-8 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-8 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-8 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-8 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-8 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-8 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-8 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-8 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-8 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-8 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-9 {
  background-image: none;
}

.u-section-3-9 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-9 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-9 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-9 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-9 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-9 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-9 .u-text-2 {
    margin-left: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-3-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-9 .u-text-2 {
    margin-left: 0;
  }
}

 .u-section-3-10 {
  background-image: none;
}

.u-section-3-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-10 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-10 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-10 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-10 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-10 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-10 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-10 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-10 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-10 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-10 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-11 {
  background-image: none;
}

.u-section-3-11 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-11 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-11 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-11 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-11 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-11 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-11 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-11 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-11 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-11 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-11 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-11 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-11 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-11 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-12 {
  background-image: none;
}

.u-section-3-12 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-12 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-12 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-12 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-12 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-12 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-12 .u-text-2 {
    margin-left: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-3-12 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-12 .u-text-2 {
    margin-left: 0;
  }
}

 .u-section-3-13 {
  background-image: none;
}

.u-section-3-13 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-13 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-13 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-13 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-13 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-13 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-13 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-13 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-13 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-13 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-13 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-13 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-13 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-13 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-14 {
  background-image: none;
}

.u-section-3-14 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-14 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-14 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-14 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-14 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-14 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-14 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-14 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-14 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-14 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-14 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-15 {
  background-image: none;
}

.u-section-3-15 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-15 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-15 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-15 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-15 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-15 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-15 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-15 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-15 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-15 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-15 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-15 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-15 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-15 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-16 {
  background-image: none;
}

.u-section-3-16 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-16 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-16 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-16 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-16 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-16 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-16 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-16 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-16 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-16 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-16 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-16 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-16 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-16 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-17 {
  background-image: none;
}

.u-section-3-17 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-17 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-17 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-17 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-17 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-17 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-17 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-17 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-17 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-17 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-17 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-17 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-17 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-17 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-18 {
  background-image: none;
}

.u-section-3-18 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-18 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-18 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-18 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-18 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-18 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-18 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-18 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-18 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-18 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-18 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-18 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-18 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-18 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-19 {
  background-image: none;
}

.u-section-3-19 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-19 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-19 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-19 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-19 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-19 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-19 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-19 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-19 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-19 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-19 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-19 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-19 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-19 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-20 {
  background-image: none;
}

.u-section-3-20 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-20 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-20 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-20 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-20 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-20 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-20 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-20 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-20 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-20 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-20 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-20 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-20 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-20 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-21 {
  background-image: none;
}

.u-section-3-21 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-21 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-21 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-21 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 0 358px;
}

.u-section-3-21 .u-video-1 {
  width: 313px;
  height: 177px;
  margin: -144px auto 0 0;
}

.u-section-3-21 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3-21 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-21 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-21 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-21 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-21 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-21 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-21 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-21 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-21 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-21 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}

 .u-section-3-22 {
  background-image: none;
}

.u-section-3-22 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3-22 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 32px auto 0 0;
}

.u-section-3-22 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: -313px 0 0 359px;
}

.u-section-3-22 .u-text-2 {
  font-family: "PT Sans Caption";
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 21px 0 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-3-22 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3-22 .u-text-1 {
    margin-left: 159px;
  }

  .u-section-3-22 .u-text-2 {
    margin-left: 158px;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-3-22 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3-22 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-22 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3-22 .u-text-1 {
    margin-top: -267px;
  }

  .u-section-3-22 .u-text-2 {
    width: 540px;
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-3-22 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3-22 .u-text-2 {
    width: 340px;
    margin-top: -110px;
  }
}