 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 493px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 359px;
  margin: 67px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 214px;
  }
} .u-section-2 {
  background-image: url("/images/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 294px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-family: "PT Sans", sans-serif;
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: none;
  margin: 0 0 0 6px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 6px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-family: Merriweather, serif;
  margin: -46px 0 0;
}

.u-section-2 .u-line-1 {
  margin-top: 5px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 294px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  height: 205px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 35px 30px 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-shape-1 {
  width: 171px;
  height: 68px;
  margin: -52px 5px 0 auto;
}

.u-section-2 .u-layout-wrap-2 {
  min-width: 68px;
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 416px;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-container-layout-3 {
  color: rgb(85, 172, 238) !important;
  padding: 0;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 108px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 6px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 416px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-group-2 {
  height: auto;
  min-height: 84px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding-right: 30px;
  padding-left: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 10px 0 0 15px;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: -154px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 375px;
  background-image: url("/images/volkanggg_html_ff8993902a7f4040.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px 30px 30px 79px;
}

.u-section-2 .u-image-2 {
  min-height: 375px;
  background-image: url("/images/ren.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  min-height: 375px;
  background-image: url("/images/20210924_1851242.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-2 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 343px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .u-section-2 .u-image-1 {
    min-height: 309px;
  }

  .u-section-2 .u-image-2 {
    min-height: 309px;
  }

  .u-section-2 .u-image-3 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 413px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 237px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 237px;
  }

  .u-section-2 .u-image-3 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2983px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -42px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 262px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 288px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-image-1 {
    min-height: 533px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 533px;
  }

  .u-section-2 .u-image-3 {
    min-height: 533px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2521px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -60px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-2 .u-group-1 {
    min-height: 136px;
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 387px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 14px;
  }

  .u-section-2 .u-image-1 {
    min-height: 336px;
  }

  .u-section-2 .u-image-2 {
    min-height: 336px;
  }

  .u-section-2 .u-image-3 {
    min-height: 336px;
  }
}.u-block-d55c-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-block-d55c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d55c-3 {
  position: absolute;
  inset: auto auto 74px calc(50% - 133px);
  width: 31px;
  height: 31px;
}

.u-block-d55c-4 {
  position: absolute;
  width: 31px;
  height: 31px;
  inset: auto calc(50% - 127px) 74px auto;
}

 .u-section-3-1 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3-1 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-1 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-1 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-1 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-1 .u-text-1 {
  margin: 5px 0 0;
}

.u-section-3-1 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-1 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 78px;
  }

  .u-section-3-1 .u-layout-cell-3 {
    min-height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-1 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 51px;
  }

  .u-section-3-1 .u-layout-cell-3 {
    min-height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-3-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-1 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-2 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3-2 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-2 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-2 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-2 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-2 .u-text-1 {
  margin: 5px 0 0;
}

.u-section-3-2 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-2 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 78px;
  }

  .u-section-3-2 .u-layout-cell-3 {
    min-height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-2 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 51px;
  }

  .u-section-3-2 .u-layout-cell-3 {
    min-height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 64px;
  }

  .u-section-3-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-2 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-2 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-3 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-3 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-3 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-3 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-3 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-3 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-3 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-3 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-3 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 69px;
  }

  .u-section-3-3 .u-layout-cell-3 {
    min-height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 65px;
  }

  .u-section-3-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-3 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-3 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-4 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-4 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-4 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-4 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-4 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-4 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-4 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-4 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-4 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-4 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-3-4 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-3-4 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-4 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-3-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-4 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-4 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-4 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-4 .u-text-2 {
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-5 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-5 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-5 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-5 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-5 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-5 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-5 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-5 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-5 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-5 .u-layout-cell-2 {
    min-height: 71px;
  }

  .u-section-3-5 .u-layout-cell-3 {
    min-height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-5 .u-layout-cell-2 {
    min-height: 61px;
  }

  .u-section-3-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-5 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-5 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-5 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-5 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-6 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-6 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-6 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-6 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-6 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-6 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-6 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-6 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 0;
}

.u-section-3-6 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-6 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-6 .u-layout-cell-2 {
    min-height: 83px;
  }

  .u-section-3-6 .u-layout-cell-3 {
    min-height: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-6 .u-layout-cell-2 {
    min-height: 69px;
  }

  .u-section-3-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-6 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-6 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-6 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-6 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-7 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-7 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-7 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-7 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-7 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-7 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-7 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-7 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-7 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-7 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-7 .u-layout-cell-2 {
    min-height: 81px;
  }

  .u-section-3-7 .u-layout-cell-3 {
    min-height: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-7 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-3-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-7 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-7 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-7 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-7 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-8 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-8 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-8 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-8 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-8 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-8 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-8 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-8 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-8 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-8 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-8 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-8 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-3-8 .u-layout-cell-3 {
    min-height: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-8 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-3-8 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-8 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-8 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-8 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-8 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-9 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-9 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-9 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-9 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-9 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-9 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-9 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-9 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-9 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-9 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-9 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-9 .u-layout-cell-2 {
    min-height: 80px;
  }

  .u-section-3-9 .u-layout-cell-3 {
    min-height: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-3-9 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-9 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-3-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-9 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-9 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-9 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-9 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-9 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-10 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-10 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-10 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-10 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-10 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-10 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-10 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-10 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-10 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-10 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-10 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-10 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-10 .u-layout-cell-2 {
    min-height: 80px;
  }

  .u-section-3-10 .u-layout-cell-3 {
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-3-10 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-10 .u-layout-cell-2 {
    min-height: 69px;
  }

  .u-section-3-10 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-10 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-10 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-10 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-10 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-10 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-11 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-11 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-11 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-11 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-11 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-11 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-11 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-11 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-11 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-11 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-11 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-11 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-11 .u-layout-cell-2 {
    min-height: 70px;
  }

  .u-section-3-11 .u-layout-cell-3 {
    min-height: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-3-11 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-11 .u-layout-cell-2 {
    min-height: 60px;
  }

  .u-section-3-11 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-11 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-11 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-11 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-11 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-11 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-12 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-12 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-12 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-12 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-12 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-12 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-12 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-12 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-12 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-12 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-12 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-12 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-12 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-12 .u-layout-cell-2 {
    min-height: 73px;
  }

  .u-section-3-12 .u-layout-cell-3 {
    min-height: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-3-12 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-12 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-3-12 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-12 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-12 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-12 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-12 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-12 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-13 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-13 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-13 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-13 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-13 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-13 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-13 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-13 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-13 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-13 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-13 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-13 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-13 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-13 .u-layout-cell-2 {
    min-height: 72px;
  }

  .u-section-3-13 .u-layout-cell-3 {
    min-height: 217px;
  }

  .u-section-3-13 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3-13 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-13 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-3-13 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-13 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-13 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-13 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-13 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-13 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-13 .u-text-2 {
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-14 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-14 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-14 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-14 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-14 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-14 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-14 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-14 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-14 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-14 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-14 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-14 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-14 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-14 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-3-14 .u-layout-cell-3 {
    min-height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-3-14 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-14 .u-layout-cell-2 {
    min-height: 69px;
  }

  .u-section-3-14 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-14 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-14 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-14 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-14 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-14 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-14 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-15 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-15 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-15 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-15 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-15 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-15 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-15 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-15 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-15 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-15 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-15 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-15 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-15 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-15 .u-layout-cell-2 {
    min-height: 84px;
  }

  .u-section-3-15 .u-layout-cell-3 {
    min-height: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-3-15 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-15 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-3-15 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-15 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-15 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-15 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-15 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-15 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-15 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-16 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-16 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-16 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-16 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-16 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-16 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-16 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-16 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-16 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-16 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-16 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-16 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-16 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-16 .u-layout-cell-2 {
    min-height: 81px;
  }

  .u-section-3-16 .u-layout-cell-3 {
    min-height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-3-16 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-16 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-3-16 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-16 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-16 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-16 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-16 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-16 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-16 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-17 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-17 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-17 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-17 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-17 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-17 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-17 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-17 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-17 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-17 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-17 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-17 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-17 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-17 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-17 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3-17 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-17 .u-layout-cell-2 {
    min-height: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-3-17 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-17 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-17 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-17 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-17 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-17 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-18 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-18 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-18 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-18 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-18 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-18 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-18 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-18 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-18 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-18 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-18 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-18 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-18 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-18 .u-layout-cell-2 {
    min-height: 75px;
  }

  .u-section-3-18 .u-layout-cell-3 {
    min-height: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-3-18 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-18 .u-layout-cell-2 {
    min-height: 61px;
  }

  .u-section-3-18 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-18 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-18 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-18 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-18 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-18 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-18 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-19 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-19 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-19 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-19 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-19 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-19 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-19 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-19 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-19 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-19 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-19 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-19 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-19 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-19 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-3-19 .u-layout-cell-3 {
    min-height: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-3-19 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-19 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-3-19 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-19 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-19 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-19 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-19 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-19 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-19 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-20 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-20 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-20 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-20 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-20 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-20 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-20 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-20 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-20 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-20 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-20 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-20 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-20 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-20 .u-layout-cell-3 {
    min-height: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-3-20 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-20 .u-layout-cell-2 {
    min-height: 57px;
  }

  .u-section-3-20 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-20 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-20 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-20 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-20 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-20 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-20 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-21 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-21 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-21 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-21 .u-layout-cell-1 {
  min-height: 315px;
}

.u-section-3-21 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-21 .u-video-1 {
  width: 224px;
  height: 146px;
  margin: 140px auto 0;
}

.u-section-3-21 .embed-responsive-1 {
  position: absolute;
}

.u-section-3-21 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-21 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-21 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px auto 0 0;
}

.u-section-3-21 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-21 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-21 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-21 .u-video-1 {
    width: 204px;
    height: 157px;
    margin-top: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-3-21 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-21 .u-video-1 {
    width: 119px;
    height: 79px;
    margin-top: 110px;
  }

  .u-section-3-21 .u-layout-cell-2 {
    min-height: 75px;
  }

  .u-section-3-21 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-3-21 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3-21 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-21 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-3-21 .u-video-1 {
    width: 301px;
    height: 202px;
    margin-top: 19px;
  }

  .u-section-3-21 .u-layout-cell-2 {
    min-height: 62px;
  }

  .u-section-3-21 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-21 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-21 .u-layout-wrap-1 {
    margin-top: 29px;
  }

  .u-section-3-21 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-3-21 .u-video-1 {
    width: 196px;
    height: 157px;
    margin-top: 50px;
  }

  .u-section-3-21 .u-layout-cell-2 {
    min-height: 58px;
  }

  .u-section-3-21 .u-text-1 {
    margin-top: 10px;
    margin-left: 12px;
  }

  .u-section-3-21 .u-layout-cell-3 {
    min-height: 399px;
  }

  .u-section-3-21 .u-text-2 {
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}

 .u-section-3-22 {
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3-22 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3-22 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3-22 .u-layout-cell-1 {
  min-height: 163px;
}

.u-section-3-22 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-22 .u-image-1 {
  width: 170px;
  height: 227px;
  margin: 36px auto 0;
}

.u-section-3-22 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-3-22 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 0;
}

.u-section-3-22 .u-text-1 {
  font-family: "PT Sans Caption";
  margin: 5px 0 0;
}

.u-section-3-22 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-3-22 .u-container-layout-3 {
  padding: 0;
}

.u-section-3-22 .u-text-2 {
  margin: 0 44px 0 0;
}

@media (max-width: 991px) {
  .u-section-3-22 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3-22 .u-layout-cell-3 {
    min-height: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-3-22 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3-22 .u-layout-cell-2 {
    min-height: 57px;
  }

  .u-section-3-22 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3-22 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3-22 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-22 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-3-22 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 82px;
    margin-left: 12px;
  }

  .u-section-3-22 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-3-22 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 12px;
  }
}